<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="API Automation">
    <test name="API">

        <classes>

            <class name="amazonTest.ValidatePriceOnSearchResultsProductPageTotalSummary"/>
            <class name="apiTest.BookingAPITest"/>

        </classes>
        </test>
        </suite>